@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #0f0f1a;
  color: white;
  overflow: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
}
